@charset "UTF-8";

/* リンクの色消し */
a {
  color: black; /* aタグの色変更 */
  text-decoration: none; /* 下線消し */
}

a :visited {
  color: black; /* 踏んだ後の色 */
}

.nav a {
  color: black; /* ヘッダー内aタグの色変更 */
}

.nav a :visited {
  color: black; /* ヘッダー内リンク踏んだ後の色 */
}

/* ヘッダー */
header {
  width: 100%;
  height: 67px;
  background-color: #A6B2C1;
  color: white;
}
.nav-line1 {
  background-color: #A6B2C1;
  position: absolute;
  left: 35px;
  right: 35px;
  top: 20px;
  font-size: 140%;
}

.main-nav {
  background-color: #A6B2C1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*中央寄せ*/
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 4.2rem;
  font-size: 140%;
}

#error_message {
  text-align: center;
  color: red;
  padding-bottom: 10px;
}


/* nav CSS */
.gnavi__wrap {
  width: 100%;
  margin: 0 auto;
  z-index: 99;
  position: relative;
}
.gnavi__lists {
  display: flex;
  list-style: none;
}
.gnavi__list {
  width: 20%;
  height: 60px;
  background-color: #E5F0F8;
  position: relative;
  transition: all .3s;
  list-style: none;
}
.gnavi__list:hover {
  background-color: #0071BB;
}
.gnavi__list:not(:first-child)::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s;
}
.gnavi__list:hover::before {
  background-color: #0071BB;
}
.gnavi__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #1b4059;
  font-size: 15px;
  letter-spacing: 0.05em;
  font-weight: 600;
  transition: all .3s;
}
.gnavi__list:hover a {
  color: #fff;
}

.dropdown__lists {
  display: none;/*デフォルトでは非表示の状態にしておく*/
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}
.gnavi__list:hover .dropdown__lists {
  display: block;/*Gナビメニューにホバーしたら表示*/
}
.dropdown__list {
  background-color: #004d80;
  height: 60px;
  transition: all .3s;
  position: relative;
  list-style: none;
}
.dropdown__list:not(:first-child)::before{
  content: "";
  width: 100%;
  height: 1px;
  background-color: #3492d1;
  position: absolute;
  top: 0;
  left: 0;
}
.dropdown__list:hover {
  background-color: #003558;
}
.dropdown__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.dropdown__list a::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(135deg);
  position: absolute;
  right: 15px;
  top: calc(50% - 5px);
}

.dropdown__lists {
  visibility: hidden;/*デフォルトでは非表示の状態にしておく*/
  opacity: 0;/*不透明度0*/
  transition: all .3s;/*表示の変化を0.3秒に指定*/
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}
.gnavi__list:hover .dropdown__lists {
  visibility: visible;/*Gナビメニューにホバーしたら表示*/
  opacity: 1;/*不透明度1*/
}

/*ヘッダー[ログイン、時計、ログアウト]一列に配置*/
.link-container {
  display: flex; /* 要素を横並びに配置 */
  justify-content: space-between; /* 要素を均等に配置 */
  align-items: center;
  height: 70px;
}
.link-container a {
  text-decoration: none; /* リンクの下線を削除（オプション） */
}
.h-con-l,
.h-con-c,
.h-con-r {
  font-size: 20px;
  font-family: sans-serif;
}

.h-con-l {
  text-align: left;
  width: 33.33333%;
  padding-left: 10px;
}

.h-con-c {
  text-align: center;
  width: 33.33333%;
}

.h-con-r {
  text-align: right;
  width: 33.33333%;
  padding-right: 10px;
}

/*ヘッダードロップダウンメニュー*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  /*background-color: #4CAF50; */
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #e7ceed;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main_contents {
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 45px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

/* 登録フォーム */

.form {
  width: 960px;/*横幅*/
  margin: 0 auto;/*中央寄せ*/
  padding: 60px 0;
}
.form-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
.form-table {
  width: 100%;
  margin-bottom: 20px;
}
.form-item,
.form-body {
  padding: 15px;
  border: 1px solid #ccc;
}
.form-item {
  text-align: left; /* テキスト左寄せ */
  width: 30%; /* 横幅30%指定（グレーの背景色部分） */
  background-color: #eee; /* グレーの背景色 */
}
.form-body {
  width: 60%; /* 横幅60%指定（白背景色部分） */
}
.form-text {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 600px;
}
.form-submit {
  text-align: center;
  width: 150px; /* 横幅指定 */
  background-color: #333; /* 背景色 */
  color: #fff; /* 文字色 */
  font-weight: bold; /* 文字の太さ */
  display: block; /* インライン要素をブロック要素に変更 */
  margin: 0 auto; /* 中央寄せ */
  font-size: 14px; /* 文字の大きさ */
  padding: 12px; /* 内側の余白 */
  border-radius: 100vh; /* 角丸指定 */
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}

/* 現在の出欠状況 */


/* フッター */

footer {
  width: 100%;
  height: 45px;
  background-color: #A6B2C1;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
